* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

main {
    background-color: rgb(241, 241, 241);
    height: 2050px;
}

.perfil {
    display: none;
}
.perfil.ativo {
    display: block;
}

a{
    text-decoration: none;
}

#info-dogs {
    display: flex;
    padding: 20px 50px;
    /*background-color: #ea9400;*/
    /*background-image: url(../img/background_patas.png);*/
    height: 530px;
    background-image: url(../img/Design\ sem\ nome\ \(2\).png);
    background-size: cover;
}

/* ==========
    Foto principal
============= */

.container-slider {
    display: flex;
    width: 800px;
    /*background-color: #c2e3df;*/
    height: 500px;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding-left: 40px;
}

.container-images {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 600px;
    height: 370px;
    overflow: hidden;
    padding: 20px 0px;
    border-radius: 10px;
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.5);
}

.slider img {
    width: 700px;
    height: 300px;
    margin: 0 2rem;
    object-fit: cover;
    border-radius: 10px;
}

/* ==========
    DESCRIÇÃO
============= */

.bloco2 {
    padding-left: 50px;
    padding-top: 30px;
    width: 1000px;
}

.btn-forms {
    background-color: #edce71;
    border-radius: 10px;
    padding: 10px;
    width: 300px;
    height: 20px;
    border: none;
    align-items: center;
    text-align: center;
    display: inline-block; /* ou block */
    margin-top: 20px; /* adiciona espaço acima */
}

.tabela-container{
    border-collapse: collapse;
}

table {
  font-family: Arial, Helvetica, sans-serif;
  width: 90%;
}

td, th {
  border: 1px solid #ddd;
  padding: 8px;
}

tr:nth-child(even){background-color: #f2f2f2;}

tr:hover {background-color: #ddd;}

th {
  font-weight: normal;
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  color: rgb(0, 0, 0);
}

/* ==============================
    LINHA DE CÃES
================================= */
.line-dog {
    background-image: url(../img/line-dog.png);
    opacity: 0.3;
    max-width: 1780px;
    margin-left: auto;
    margin-top: 40px;
    margin-right: auto;
    background-size: contain;
    background-repeat: repeat;
    background-position: center center;
    margin-bottom: 70px;
    height: 80px;
    width: 100%;
}

/* ==============================
    CARTÕES DE INFO
================================= */
.cartao {
    cursor: default;
    height: 250px;
    background-color: #f4f5f7ea;
    color: rgb(90, 82, 74);
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.3);
    text-align: center;
    flex: 1 1 300px;
    min-width: 280px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    transition: transform 0.7s ease, box-shadow 0.7s ease;
}

.cartao:hover {
    transform: scale(1.02);
    box-shadow: 0 15px 40px rgba(0, 0, 0, 0.5);
    z-index: 2;
}

.conteudo-superior {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cartao h3 {
    font-family: "Montserrat-bold", sans-serif;
    font-size: 1.6rem;
    margin-top: 10px;
    margin-bottom: 15px;
}

.cartao i {
    font-size: 50px;
    color: rgb(221, 199, 121);
    margin-bottom: 10px;
}

.cartao p {
    padding-top: 20px;
    font-weight: bold;
    font-size: 14.5px;
    margin-bottom: 0;
}

/* ================
    IMAGENS
=================== */

.div-imagens{
    /*background-color: #eceff4;*/
    background-color: #8fb4f3;
    height: 320px;
}
.grid2 {
    display: grid;
    max-width: 2000px;
    margin: 0 auto;
    padding: 20px 30px;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 30px;
    /*background-color: rgb(215, 151, 151);*/
    height: 1400px;
}

.item2 {
    border: 1px solid #faf9f1;
    position: relative;
    overflow: hidden;
    width: 100%;
    background-color: #faf9f1;
    max-height: 400px;
    border-radius: 10px;
    padding: 20px;
    padding-bottom: 25px;
}

.cartao-imagem {
    cursor: default;
    height: 250px;
    background-color: #f4f5f7ea;
    color: rgb(90, 82, 74);
    padding:20px 10px;
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.3);
    text-align: center;
    flex: 1 1 300px;
    min-width: 280px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.grid-item2 img {
    width: 100%;
    height: 320px;
    object-fit: cover;
    display: block;
}

.grid-item2 .descricao {
    /* background-color: #edce71;*/
    align-items: center;
    text-align: center;
    margin-top: 15px;
    font-size: 16px;
}
/* ==============================
    POSICIONAMENTO DOS CARTÕES
================================= */

.div-cartoes {
    /*background-color: #eceff4;*/
    background-color: #8fb4f3;
    height: 500px;

}

.banner-acoes-agrupadas {
    position: relative;
    width: 100%;
    margin-bottom: 150px;
}

.acoes-container {
    position: absolute;
    margin-top: 20px;
    padding-top: 50px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    gap: 100px;
    width: 100%;
    max-width: 1300px;
    z-index: 10;
    padding: 0 20px;
    /* background-color: #333;*/
}


.grid2 {
    display: grid;
    max-width: 2000px;
    margin: 0 auto;
    padding: 20px 30px;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 30px;
    /*background-color: rgb(215, 151, 151);*/
    height: 1400px;
}

.grid-item2 {
    border: 5px solid #faf9f1;
    position: relative;
    overflow: hidden;
    width: 100%;
    background-color: #faf9f1;
    max-height: 440px;
    border-radius: 10px;
}

.grid-item2 img {
    width: 100%;
    height: 320px;
    object-fit: cover;
    display: block;
}

.grid-item2 .descricao {
    /* background-color: #edce71;*/
    align-items: center;
    text-align: center;
    margin-top: 15px;
    font-size: 16px;
}

/* ==============================
    EMPRESAS PARCEIRAS
================================= */

.acoes-empresas {
    background-color: rgb(241, 241, 241);
    height: 400px;
}

.txt-titulos div {
    max-width: 1500px;
    margin: 0 auto;
    margin-top: 50px;
}

.txt-titulos h2 {
    margin-bottom: 30px;
    text-align: center;
}

.line-patrocinio {
    border-bottom: 2px solid #00000063;
}

.slogan-empresas p {
    font-size: 18px;
    text-align: center;
}

/* ==============================
    LOGOS INFINITO
================================= */

.logos-infinito {
    max-width: 1500px;
    margin: 0 auto;
    overflow: hidden;
    white-space: nowrap;
    background-color: rgb(241, 241, 241);
    padding: 70px 0;
    display: flex;

    /* Cria um gradiente transparente nas bordas esquerda e direita. */
    mask-image: linear-gradient(to right,
            rgba(0, 0, 0, 0) 0%,
            rgba(0, 0, 0, 3) 10%,
            rgba(0, 0, 0, 3) 90%,
            rgba(0, 0, 0, 0) 100%);
    /* Para maior compatibilidade */
    -webkit-mask-image: linear-gradient(to right,
            rgba(0, 0, 0, 0) 0%,
            rgba(0, 0, 0, 3) 10%,
            rgba(0, 0, 0, 3) 90%,
            rgba(0, 0, 0, 0) 100%);
}

.logos-slide {
    display: flex;
    animation: slide 15s linear infinite;
}

.logos-slide img {
    width: 200px;
    height: 100px;
    object-fit: contain;
    margin: 0 40px;
}

@keyframes slide {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-100%);
    }
}

/* ============================== 
    BOTAO DAS EMPRESAS 
================================= */

.btn-empresas {
    text-align: center;
    width: 100%;
}

.botao-empresas {
    cursor: pointer;
    background-color: #5893f3;
    color: white;
    border: 2px solid white;
    text-decoration: none;
    padding: 10px 25px;
    border-radius: 5px;
    font-weight: bold;
    font-size: 16px;
    transition: 0.3s;
    margin-top: -2px;
    margin-bottom: 30px;
}

.botao-empresas:hover {
    background-color: #636363;
}

footer {
  background-color: #5893f3;
  padding: 20px 0;
  color: #fff;
}

.footer-container {
  display: flex;
  max-width: 1000px;
  margin: 0 auto;
  flex-wrap: wrap;
  gap: 200px;
}

.footer-column {
  flex: 1;
}

.footer-column .sociais-footer {
  text-align: unset;
  font-size: 30px;
  gap: 20px;

}

.footer-column .logo {
  max-width: 150px;

}

.footer-column h3 {
  font-size: 1.25rem;
  margin-bottom: 10px;
}

.footer-column li{
  list-style: none;
}

.footer-column ul {
  list-style: none; 
  padding: 0;   
  margin: 0;
  display: grid;
  grid-template-columns: 1fr 1fr; 
  gap: 6px;
  
}

.footer-column ul li {
  font-size: 15px;
  margin-bottom: 8px;
}

.sociais-footer a {
  margin-right: 10px;
  color: #fff;
  text-decoration: none;
  font-size: 1.5rem;
}
footer a {
  text-decoration: none;
  color: #fff; 
}

footer a:hover {
  text-decoration: underline;
}