<footer>
    <!--Começo ul 1-->
    <div class="footer-container">
        <ul>
            <img src="assets/img/logo/logo-acaochego.png" alt="Logo Acãochego" class="logo" />
            <div class="sociais-footer">
                <a href="#"><i class="fa-brands fa-instagram"></i></a>
                <a href="#"><i class="fa-brands fa-facebook"></i></a>
                <a href="#"><i class="fa-brands fa-whatsapp"></i></a>
            </div>
        </ul>
        <!--Fim ul 1-->

        <!--Começo ul 2-->
        <ul>
            <h3>Link</h3>
            <li><a href="index.html">Início</a></li>
            <li><a href="pages/sobre-nos.html">A Acãochego</a></li>
            <li><a href="pages/form-adocao.html">Quero Adotar</a></li>
            <li><a href="pages/apadrinhamento.html">Quero Apadrinhar</a></li>
            <li><a href="pages/">Preciso de Ajuda</a></li>
            <li><a href="#">Matérias</a></li>
            <li><a href="#">Finais Felizes</a></li>
            <li><a href="#">Tributo</a></li>
        </ul>
        <!--Fim ul 2-->

        <!--Começo ul 3-->
        <ul>
            <h3>Nos contate</h3>
            <li>
                <p>(+55) 11 99999-9999</p>
            </li>
            <li>
                <p>emailempresa@acaochego.com.br</p>
            </li>
            <li>Brasil</li>
        </ul>
        <!--Fim ul 3-->
    </div>
</footer>

<style>
    /* ============================== 
    FOOTER 
================================= */
    footer {
        background-color: #5893f3;
        padding: 20px 0;
        color: #fff;
    }

    .footer-container {
        display: flex;
        justify-content: space-between;
        max-width: 1200px;
        margin: 0 auto;
        flex-wrap: wrap;
        gap: 20px;
    }

    .footer-column {
        flex: 1;
        min-width: 200px;
    }

    .footer-column h3 {
        font-size: 1.25rem;
        margin-bottom: 10px;
    }

    .footer-column ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }

    .footer-column ul li {
        font-size: 15px;
        margin-bottom: 8px;
    }

    .sociais-footer a {
        margin-right: 10px;
        color: #fff;
        text-decoration: none;
        font-size: 1.5rem;
    }
</style>