    <header>
      <div class="top-bar">
        <div class="container">
          <img src="assets/img/logo/logo-acaochego.png" alt="Logo Acãochego" class="logo" />

          <div class="name-slogan">
            <p class="name">ACÃOCHEGO</p>
            <p class="slogan">
              ASSOCIAÇÃO PROTETORA DE ANIMAIS ABANDONADOS - ACÃOCHEGO
            </p>
          </div>

          <div class="right-column-stack">
            <div class="social">
              <a href="#"><i class="fa-brands fa-instagram"></i></a>
              <a href="#"><i class="fa-brands fa-facebook"></i></a>
              <a href="#"><i class="fa-brands fa-whatsapp"></i></a>
              <a href="#"><i class="fa-solid fa-envelope"></i></a>
            </div>

            <button class="menu-toggle" aria-label="Abrir menu">
              <i class="fa-solid fa-bars"></i>
            </button>
          </div>
        </div>
      </div>

      <nav class="menu">
        <ul>
          <li><a href="index.html">Início</a></li>
          <li><a href="pages/sobre-nos.html">A Acãochego</a></li>
          <li><a href="pages/form-adocao.html">Quero Adotar</a></li>
          <li><a href="pages/apadrinhamento.html">Quero Apadrinhar</a></li>
          <li><a href="pages/">Preciso de Ajuda</a></li>
          <li><a href="#">Matérias</a></li>
          <li><a href="#">Finais Felizes</a></li>
          <li><a href="#">Tributo</a></li>
        </ul>
      </nav>
      <div class="line"></div>
    </header>